<html>

<head>
    <meta charset="UTF-8">
    <title>Trabalho BDII</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/painel.css">
   

</head>

<body>
    <div id='cssmenu'>
    <ul>
       <li id="menu1" class='active'><a href='#cadastro'>Cadastro</a></li>       
       <li id="menu2"><a href='#consulta'>Consulta</a></li>      
    </ul>
</div>
<div id="cadastro">
    <div class="container">
        <div class="col-md-5" style="display:inline-table">
            <form id="myForm1">
                <p class="titulo">Cadastro por email</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="email@email.com" class="form-control" name="email" required="">
                </div>
                <div class="form-group">
                    <label for="pwd">Nome</label>
                    <input type="text" placeholder="Nome" class="form-control" name="nome" required="">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="Password" placeholder="*****" class="form-control" name="pwd" required="">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>


        <div class="col-md-5" style="display:inline-table">
            <form id="myForm2">
                <p class="titulo">Cadastro por cpf</p>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" placeholder="000.000.000-00" class="form-control" name="cpf" required="">
                </div>
                <div class="form-group">
                    <label for="pwd">Nome</label>
                    <input type="text" placeholder="Nome" class="form-control" name="nome" required="">
                </div>
                <div class="form-group">
                    <label for="pwd">Sobrenome</label>
                    <input type="text" placeholder="Sobrenome" class="form-control" name="sobrenome" required="">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>            
        </div>        

    </div>
</div>

<div id="consulta">
    <div>
        <p class="titulo" style="width:50%;margin-left: 25%;text-align: center;">Clientes Cadastrados</p>
    </div>
    <div class="row">

                  
                <% resultado.forEach(function(cliente){ %>  
                 <div class="col-md-6">
                    <div class="secao"> 
                        <h5 class="campo_nome" align="center"><%= cliente.nome%> <%= cliente.sobrenome%></h5>   
                        <div class="" align="center">           
                            <h6 class="campo_email"><strong>E-mail: </strong> <%= cliente.email%></h6>
                        </div>
                        <div class="" align="center">   
                            <h6 class="campo_cpf"><strong>CPF: </strong> <%= cliente.cpf%></h6>                     
                        </div>
                     </div>
                 </div>
                <% })%>            
           
       
    </div>
</div>

</body>

</html>

<script rel="stylesheet" src="js/main.js"></script>
<script type="text/javascript">



(function($) {

  $.fn.menumaker = function(options) {
      
      var cssmenu = $(this), settings = $.extend({
        title: "Menu",
        format: "dropdown",
        sticky: false
      }, options);

      return this.each(function() {
        cssmenu.prepend('<div id="menu-button">' + settings.title + '</div>');
        $(this).find("#menu-button").on('click', function(){
          $(this).toggleClass('menu-opened');
          var mainmenu = $(this).next('ul');
          if (mainmenu.hasClass('open')) { 
            mainmenu.hide().removeClass('open');
          }
          else {
            mainmenu.show().addClass('open');
            if (settings.format === "dropdown") {
              mainmenu.find('ul').show();
            }
          }
        });

        cssmenu.find('li ul').parent().addClass('has-sub');

        multiTg = function() {
          cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
          cssmenu.find('.submenu-button').on('click', function() {
            $(this).toggleClass('submenu-opened');
            if ($(this).siblings('ul').hasClass('open')) {
              $(this).siblings('ul').removeClass('open').hide();
            }
            else {
              $(this).siblings('ul').addClass('open').show();
            }
          });
        };

        if (settings.format === 'multitoggle') multiTg();
        else cssmenu.addClass('dropdown');

        if (settings.sticky === true) cssmenu.css('position', 'fixed');

        resizeFix = function() {
          if ($( window ).width() > 768) {
            cssmenu.find('ul').show();
          }

          if ($(window).width() <= 768) {
            cssmenu.find('ul').hide().removeClass('open');
          }
        };
        resizeFix();
        return $(window).on('resize', resizeFix);

      });
  };
})(jQuery);

(function($){
$(document).ready(function(){

$("#cssmenu").menumaker({
   title: "Menu",
   format: "multitoggle"
});    

})(jQuery);

</script>
<!-- 
INSERÇÃO
r.db("store").table("customers").insert({
  "email":"igor@email.com",
  "password":8888,
  "cpf":787878787,
  "nome":"Igor",
  "sobrenome":"Moura"  
})


CONSULTA
r.db('store').table('customers')

-->